<h2 class="text-big">All Posts</h2>
<div class="header d-flex space-between align-center">
    <span class="text-normal">Total : <%= len %> </span>
    <button class="btn btn-write" id="add">글쓰기</button>
</div>
<div class="article-header d-flex box-header">
    <p class="flex-5 text-center">제목</p>
    <p class="flex-1 text-center">작성일</p>
    <p class="flex-1 text-center">관리</p>
</div>
<ul class="article-body">
    <% data.forEach(post => { %>
    <li class="d-flex space-between align-center my-1">        
        <div class="body d-flex flex-4 space-between align-center">
            <p class="title"><a href="#"><%= post.title %></a></p>
            <p class="wr_date mr-1 text-small"><%= post.createdAt.toLocaleString('ko-kr', {
                year: '2-digit',
                month: '2-digit',
                day: '2-digit'
            }).replace(/\./g, '').replaceAll(' ','/') %></p>
        </div>
        <div class="ctrl flex-1">
            <a href="/edit/<%= post.id %>" class="btn btn-modify">수정</a>
            <a href="/delete" class="btn btn-delete">삭제</a>
        </div>
    </li>  
    <% }) %>  
</ul>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        const addBtn = document.querySelector("#add");
        addBtn.addEventListener("click", () => {
            location.href = '/add'
        })
    })
</script>