<h2 class="text-big">All Posts</h2>
<div class="header d-flex flex-end">
    <button>글쓰기</button>
</div>
<hr>
<ul class="lists">
    <li class="d-flex space-between gap-2">        
        <div class="body d-flex space-between">
            <p class="title"><a href="#">작성한 글의 제목이 나타납니다.</a></p>
            <p class="wr_date">작성일</p>
        </div>
        <div class="ctrl">
            <button>수정</button>
            <button>삭제</button>
        </div>
    </li>    
</ul>