<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title><%= locals.title></title>
  </head>
  <body>
    <div class="container">
        <%= locals.header %>
        <%- body %>
    </div>
  </body>
</html>
