@charset "utf-8";
:root {
    --primary-text-color: #505f98;
    --secondary-text-color: #ffffff;
    --primary-bg-color: #f1f1f1;
    --secondary-bg-color: #111B47;
    --third-bg-color: #E7ECFF;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-size: .8rem;
    color: #333;
}
ul, ol {
    list-style: none;
    margin: 0
}
a, a:link {
    color: inherit;
    text-decoration: none
}
form, fieldset {
    margin: 0;
    padding: 0;
    border: 0
}
legend {
    display: none
}

.d-flex {
    display: flex
}
.space-between {
    justify-content: space-between
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.gap-1 {
    gap: 1rem
}
.gap-2 {
    gap: 2rem
}
.gap-3 {
    gap: 3rem
}
.text-center {
    text-align: center
}
.text-big {
    font-size: 1.5rem !important
}
.text-normal {
    font-size: .8rem
}
.text-small {
    font-size: .5rem
}

/* header */
.header {
    padding: 1rem;
    color: var(--primary-text-color)
}
.header__nav {
    order: 0
}
.header__logo {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: -1px;
    order: 1
}
.header__btn {
    order: 2;
}
.header__btn button, .buy button{
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    width: 8rem;
    height: 1.3rem;
}

.hero img {
    width: 100%;
    object-fit: cover;
}

.main .container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem 0
}
.container > h1 {
    font-size: .875rem;
}
.container > h2 {
    font-size: .725rem;
    font-weight: normal
}

#admin.login_form fieldset {
    max-width: 22.5rem;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
    border-radius: 5px
}
#user_id, #user_pwd {
    width: 100%;
    padding: .5rem 1rem;
    margin: .25rem 0;
}
.link-text:hover {
    color: var(--primary-text-color)
}

.btn {
    border: 0;
    padding: .5rem 1rem
}
.btn-admin {
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
}
.screen_out {
    position: absolute;
    width: 0;
    height: 0;
    left: -9999px
}


.footer {
    padding: 1rem;
    background-color: var(--third-bg-color)
}
.footer hr {
    margin: 1rem 0;
    border: 0;
    height: 1px;
    background: var(--primary-text-color)
}