@charset "utf-8";
:root {
    --primary-text-color: #505f98;
    --secondary-text-color: #ffffff;
    --primary-bg-color: #f1f1f1;
    --secondary-bg-color: #111B47;
    --third-bg-color: #E7ECFF;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-size: .8rem;
    color: #333;
}
ul, ol {
    list-style: none;
    margin: 0
}
a, a:link {
    color: inherit;
    text-decoration: none
}
.d-flex {
    display: flex
}
.space-between {
    justify-content: space-between
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.gap-1 {
    gap: 1rem
}
.gap-2 {
    gap: 2rem
}
.gap-3 {
    gap: 3rem
}

/* header */
.header {
    padding: 1rem;
    color: var(--primary-text-color)
}
.header__nav {
    order: 0
}
.header__logo {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: -1px;
    order: 1
}
.header__btn {
    order: 2;
}
.header__btn button{
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    width: 8rem;
    height: 1.3rem;
}

.hero img {
    width: 100%;
    object-fit: cover;
}

.footer {
    padding: 1rem;
    background-color: var(--third-bg-color)
}
.footer hr {
    margin: 1rem 0
}